/*GENERAL STYLES*/

.App {
  text-align: center;
  box-sizing: border-box;
}
.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  justify-content: space-around;
}

/*LEFT AREA*/
.areaLeft {
  display: grid;
  grid-column: 1;
  align-items: center;
  justify-items: center;
}

/*RIGHT AREA*/
.areaRight {
  display: grid;
  grid-column: 2;
}

/*FOOTER*/
.code-link {
  font-family: "Architects Daughter", cursive;
  text-align: center;
  color: rgb(34, 43, 43);
}

.cl {
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  color: rgb(34, 43, 43);
}
