/*GENERAL STYLES*/

.App {
  text-align: center;
  box-sizing: border-box;
  font-family: "Poor Story", cursive;
  color: var(--clr-text);
  font-size: 1.15rem;
}
/*HEADER*/

.title {
  font-family: "Architects Daughter", cursive;
  text-shadow: 0 0 10px var(--clr-text);
  margin-top: 1.5em;
}

/*MAIN AREA*/

section {
  align-items: start;
}

/*for main word - font-family: 'Macondo', cursive;*/

/*FOOTER*/

footer {
  font-size: 1em;
  font-family: "Architects Daughter", cursive;
  text-align: center;
  color: var(--clr-text);
}
.code-link {
  color: var(--clr-text);
  margin: 0;
}

.cl {
  text-decoration: none;
  color: var(--clr-text);
  margin: 0;
}
