/*GENERAL STYLES*/

.App {
  text-align: center;
  box-sizing: border-box;
  font-family: "Poor Story", cursive;
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  justify-content: space-around;
}

/*LEFT AREA*/
.areaLeft {
  display: grid;
  grid-column: 1;
  align-items: center;
  justify-items: center;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin-top: 5px;
}

/*for main word - font-family: 'Macondo', cursive;*/

/*RIGHT AREA*/
.areaRight {
  display: grid;
  grid-column: 2;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin-top: 5px;
}

/*FOOTER*/
.code-link {
  font-family: "Architects Daughter", cursive;
  text-align: center;
  color: rgb(34, 43, 43);
}

.cl {
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  color: rgb(34, 43, 43);
}
